body {
font-family: 'Neue Haas Grotesk Display Pro', sans-serif !important;
letter-spacing: 5%;
color: #434343 !important;
}

p{
    margin: 0;
}

.title2{
    font-size: 16px;
    line-height: 24px;
    color: #434343;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.title {
    font-size: 36px;
    line-height: 100%;
    color: #434343;
    font-weight: 400;
    letter-spacing: 0.5px;

}
.subtext{
    font-size: 16px;
    line-height: 24px;
    color: #434343;
    font-weight: 400;
    letter-spacing: 0.8px;
}
.text-white{
    color: #fff !important;
}

.section {
    padding: 80px 0;
}

.btn-custom {
    width: max-content;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #243D5C;
    border-color: #243D5C;
    border-radius: 100px;
    padding: 15px 40px;
    margin: 0 auto;
}

.btn-custom svg {
    margin-left: 10px;
}

.btn-custom:hover,
.btn-custom:focus {
    outline: none;
    box-shadow: none;
    background-color: #243D5C !important;
    border-color: #243D5C !important;
    color: #fff !important;
}

.bg-white{
    background: #fff !important;
}

.container2{
    padding: 0 80px;
}

.mb-40{
margin-bottom: 40px !important;
}
.mt-40{
    margin-top: 40px !important;
}


